{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <!--============================= ADD ADV =============================-->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="row">
            <div class="col-md-12 col-xl-8 go-back">
                <a href="javascript:history.back()" class="itemData"><i class="fas fa-long-arrow-alt-left"></i> Atgal</a>
            </div>
        </div>
        <div class="row light-bg booking-details_wrap">
            <div class="booking-checkbox_wrap col-xl-8">
                <div class="form-block col-md-11 mx-auto">
                    {{ form_start(our_form, {attr: {class: 'add-form'}} ) }}
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-2 col-inline-padding-left item-title">
                            {{ form_label(our_form.title) }}
                        </div>
                        <div class="col-sm-12 col-md-10 col-lg-4 col-inline-padding-right">
                            {{ form_widget(our_form.title) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-2 col-inline-padding-left item-title">
                            {{ form_label(our_form.description) }}
                        </div>
                        <div class="col-sm-12 col-md-10 col-lg-4 col-inline-padding-right">
                            {{ form_widget(our_form.description) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-send">
                            {{ form_widget(our_form.save, {attr: {class: 'btn btn-large'}}) }}
                        </div>
                    </div>
                    {{ form_end(our_form) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
